{% unless page.no_header %}
{% if index %}
  <div class="row-fluid">
    <div class="span2 post-meta">
	  <h5 class="date-time">{% include post/date.html %}<i class="icon-calendar-empty"></i> {{ time }}</h5>
          <div class="row-fluid">
          {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
          <a href="{% if index %}{{ site.url }}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments </a> <span class="fui-bubble-16"></span>
          {% endif %}
          </div>
          {% if post.categories %}
          <div class="row-fluid">
          {% for category in post.categories %}
          <a href="{{ root_url }}/{{ site.category_dir }}/{{ category | replace:' ','-' | replace:'.','-dot-' | downcase }}/"><span class="badge">{{ category }}</span></a>
          {% endfor %}
          </div>
          {% endif %}
    </div>
    <div class="span10 post-container">
      <h1 class="link"><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h1>
      {{ content | excerpt }}
    </div>
  </div>
{% else %}
  <header>
  <div class="jumbotron">
    <div class="site-title">
      <a href="{{ site.root }}">{{ site.title }}</a>
    </div>
    <a href="{{ page.url }}">
    {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
    </a>
	<h5>{% include post/date.html %}<i class="icon-calendar-empty"></i> {{ time }}</h5>
  </div>
</header>
  <div class="row-fluid">
    <div class="span12">
      {% if page.audio-src %}
      <div class="audio-container">
        <div class="audio-player"><audio src="{{ page.audio-src }}" type="audio/mp3" controls="controls" preload="none"></audio></div>
        <div class="audio-summary">
          <i class="icon-play-circle"></i> 収録時間: {{ page.audio-duration }} | <a href="{{ page.audio-src }}"><i class="icon-download-alt"></i> Download MP3 ({{ page.audio-length | byte_to_mb }}MB)</a>
        </div>
      </div>
      {% endif %}
      {{ content }}
    </div>
  </div>
{% endif %}
{% endunless %}
