.audio-container {
  margin-bottom: 2em;
  width: 100%;

  .audio-player {
    margin-bottom: 0.5em;
  }

  .audio-summary {
    font-size: 80%;
    text-align: right;
  }
}

article {
  li {
    line-height: 2.0em;
  }
}
